<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Étudiant ajouté !</h1>
  <ul>
    <li>Nom : <%= student.lastname %></li>
    <li>Prénom : <%= student.firstname %></li>
    <% if (student.year_result != null) { %>
      <li>Résultat : <%= student.year_result %>/20</li>
    <% } %>
    <li>Remarque : <%= student.remark %></li>
  </ul>

</body>

</html>