<%- include('../partials/_header.ejs') %>

<h1>Page - À propos 🕺</h1>

<p>Bonjour, je m'appelle <%= firstname %> <%= lastname %></p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde possimus perferendis quasi temporibus, hic vel repellendus ipsum ipsam at voluptate quibusdam similique tempora. Inventore vero obcaecati ducimus natus quos quidem quis ex eum! Culpa libero ratione doloremque fuga beatae laborum id alias odit consequatur commodi corrupti, eveniet, suscipit animi tenetur!
</p>

<%- include('../partials/_footer.ejs') %>